<footer class="footer">
  <div class="row columns">
    <div class="footer-about">
      <p>
        Principal Integration Consultant
      </p>
      <address>35056 Effertz Walk</address>
      <a id="click-open_map" href="#">Map</a>
      <p>Phone: 1-462-559-8003 x4881</p>
    </div>

    <div class="footer-social">
      <p>Add:</p>
      <ul>
        <li>
          <a class="icon-vk_white" href="#" title="Link: group in vk.com" target="_blank">
            <span class="visuallyhidden">Link: group in vk.com</span>
          </a>
        </li>
        <li>
          <a class="icon-fb_white" href="#" title="Link: group in instagram.com" target="_blank">
            <span class="visuallyhidden">Link: group in instagram.com</span>
          </a>
        </li>
        <li>
          <a class="icon-inst_white" href="#" title="Link: group in fb.com" target="_blank">
            <span class="visuallyhidden">Link: group in fb.com</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-author">
      <p>Created by:</p>
      <a class="btn btn-createdby" href="#" target="_blank">Example.com</a>
    </div>
  </div>
</footer>
