<section class="section bg-blur">

  <div class="row">
    <div class="columns add-post">
      <form action="#" method="post" accept-charset="utf-8" name="post_sign_in">

        <div class="post-title">
          <label>
            <!--[if lte IE 9]>TITLE: <br><![endif]-->
            <span class="name-field">Title</span>
            <input autofocus id="post_title" type="text" name="post_title" placeholder="TITLE" title="Enter post title" required>
            <br>
          </label>
        </div>

        <div class="post-url">
          <label>
            <!--[if lte IE 9]>URL: <br><![endif]-->
            <span class="name-field">Url</span>
            <input type="text" name="post_url" placeholder="URL" title="Enter your post url" required>
            <br>
          </label>
        </div>

        <div class="clearfix post-description">
          <label>
            <!--[if lte IE 9]>DESCRIPTION: <br><![endif]-->
            <span class="name-field">Description</span>
            <input type="text" name="post_url" placeholder="URL" title="Enter your post url" required>
            <br>
          </label>
        </div>

        <input type="submit" name="post_signIn" value="Add" class="btn btn-sign_in">
      </form>
    </div>
  </div>

</section>
