
.text-title h1 {
  text-align: center;
  font-size: 4.7em;
  font-weight: 700;
}

.text-description {
  letter-spacing: 0.07em;
  font-size: 1.4em;
  // padding: 25px;
  // background-color: #00000021;
}

.block-description {
  padding-bottom: 100px;
}

.b-text-title {
  margin-bottom: 100px;
}

a#back {
  margin-bottom: 45px;
  display: inline-block;
}
